# Philippines Geo Data Cleaning Workbook

## Setup

In [1]:
import pandas as pd
import janitor
%load_ext blackcellmagic

## Creating the SSOT File

In order to create our SSOT file, we need to take the `new_locations.csv` and remove all provinces labeled TRUE in the `non_icm_loc.csv` file, which will allow us to create an up to date file with all locations (ICM only).

In [2]:
# pulling in the SSOT file for all new locations
new_locations_base_df = pd.read_csv(
    filepath_or_buffer="raw_data/new_locations.csv"
).clean_names()

# taking a peek at our data
new_locations_base_df.head()

       id province     city    barangay   latitude    logitude
0  207538     Abra  Bangued    Agtangao  17.562700  120.637016
1  207472     Abra  Bangued       Angad  17.576710  120.621513
2  207374     Abra  Bangued     Bañacao  17.605690  120.595734
3  207385     Abra  Bangued  Bangbangar  17.606991  120.609749
4  207435     Abra  Bangued    Cabuloan  17.596331  120.612694

In [3]:
# pulling in the non icm file to be used as a negative filer...
# and dropping any NaNs / NAs because I want this to be a pure negative filter...
# i.e. I will want this DF to be only regions I want to drop from my main df
non_icm_base_df = (
    pd.read_csv(filepath_or_buffer="raw_data/non_icm_loc.csv").dropna().clean_names()
)

# taking a peek at our data
non_icm_base_df.head()

   province remove
0      Abra   True
6    Apayao   True
7    Aurora   True
9    Bataan   True
10  Batanes   True

In [4]:
# removing all rows from `new_locations_base_df` that appear in `non_icm_base_df`
ssot_df = new_locations_base_df[
    (new_locations_base_df["province"].isin(non_icm_base_df["province"]) != True)
]

# saving out the ssot_df for logging / future use purposes
ssot_df.to_csv(path_or_buf="processed_data/ssot_df.csv", index=False)

# inspecting the filtered data
ssot_df

,id,province,city,barangay,latitude,logitude
303,249388,Agusan del Norte,Buenavista,Abilan,8.96710,125.451851
304,249466,Agusan del Norte,Buenavista,Agong-Ong,8.96052,125.399017
305,249469,Agusan del Norte,Buenavista,Alubijid,8.92323,125.453773
306,249613,Agusan del Norte,Buenavista,Guinabsan,8.84064,125.241096
307,249751,Agusan del Norte,Buenavista,Lower Olave,8.79082,125.491669
...,...,...,...,...,...,...
41943,255227,Zamboanga Sibugay,Tungawan,Tigbanuang,7.58116,122.430321
41944,255636,Zamboanga Sibugay,Tungawan,Tigbucay,7.54406,122.395416
41945,255647,Zamboanga Sibugay,Tungawan,Tigpalay,7.47038,122.348328
41946,255194,Zamboanga Sibugay,Tungawan,Timbabauan,7.61146,122.393120
41947,255343,Zamboanga Sibugay,Tungawan,Upper Tungawan,7.51872,122.367958

In [5]:
# pulling in our unclean data that needs to be matched to the geo data in the ssot_df...
# sorting by province just as the ssot df is, for convenience
unclean_base_df = (
    pd.read_csv(filepath_or_buffer="raw_data/original_locations.csv")
    .clean_names()
    .sort_values("province")
)

# taking a peek at our data
unclean_base_df.head()

,region_id,region,region_alias,province_id,province,city_id,city,barangay_id,barangay,population
41093,16,Cordillera Administrative Region,CAR,76,Abra,1510,Villaviciosa,38236,Tuquib,840
40878,16,Cordillera Administrative Region,CAR,76,Abra,1491,La Paz,38034,Toon,928
40879,16,Cordillera Administrative Region,CAR,76,Abra,1491,La Paz,38035,Udangan,490
40880,16,Cordillera Administrative Region,CAR,76,Abra,1492,Lacub,38036,Bacag,233
40881,16,Cordillera Administrative Region,CAR,76,Abra,1492,Lacub,38037,Buneg,827

## Cleaning "Province" Field

In [6]:
# investigating unique values of province in the ssot data
unique_clean_provincenames_list = [
    x.upper() for x in ssot_df["province"].unique().tolist()
]
print(unique_clean_provincenames_list)

['AGUSAN DEL NORTE', 'AGUSAN DEL SUR', 'AKLAN', 'ALBAY', 'ANTIQUE', 'BASILAN', 'BILIRAN', 'BOHOL', 'BUKIDNON', 'CAMIGUIN', 'CAPIZ', 'CATANDUANES', 'CEBU', 'COMPOSTELA VALLEY', 'DAVAO DEL NORTE', 'DAVAO DEL SUR', 'DAVAO ORIENTAL', 'DINAGAT ISLANDS', 'EASTERN SAMAR', 'GUIMARAS', 'ILOILO', 'LEYTE', 'MAGUINDANAO', 'MARINDUQUE', 'MASBATE', 'MISAMIS OCCIDENTAL', 'MISAMIS ORIENTAL', 'NEGROS OCCIDENTAL', 'NEGROS ORIENTAL', 'NORTH COTABATO', 'NORTHERN SAMAR', 'OCCIDENTAL MINDORO', 'ORIENTAL MINDORO', 'PALAWAN', 'ROMBLON', 'SAMAR', 'SARANGANI', 'SIQUIJOR', 'SORSOGON', 'SOUTH COTABATO', 'SOUTHERN LEYTE', 'SULTAN KUDARAT', 'SULU', 'SURIGAO DEL NORTE', 'SURIGAO DEL SUR', 'TAWI-TAWI', 'ZAMBOANGA DEL NORTE', 'ZAMBOANGA DEL SUR', 'ZAMBOANGA SIBUGAY']

In [7]:
# investigating unique values of region in the unclean data
unique_unclean_provincenames_list = unclean_base_df["province"].unique().tolist()
print(unique_unclean_provincenames_list)

['Abra', 'Agusan del Norte', 'Agusan del Sur', 'Aklan', 'Albay', 'Antique', 'Apayao', 'Aurora', 'Basilan', 'Bataan', 'Batanes', 'Batangas', 'Benguet', 'Biliran', 'Bohol', 'Bukidnon', 'Bulacan', 'Cagayan', 'Camarines Norte', 'Camarines Sur', 'Camiguin', 'Capiz', 'Catanduanes', 'Cavite', 'Cebu', 'City of Isabela (Capital)', 'Compostela Valley', 'Cotabato', 'Davao Del Sur', 'Davao Occidental', 'Davao Oriental', 'Davao del Norte', 'Dinagat Islands', 'Eastern Samar', 'First', 'Fourth', 'Guimaras', 'Ifugao', 'Ilocos Norte', 'Ilocos Sur', 'Iloilo', 'Isabela', 'Kalinga', 'La Union', 'Laguna', 'Lanao del Norte', 'Lanao del Sur', 'Leyte', 'Maguindanao', 'Marinduque', 'Masbate', 'Misamis Occidental', 'Misamis Oriental', 'Mountain Province', 'Negros Occidental', 'Negros Oriental', 'North Cotabato', 'Northern Samar', 'Nueva Ecija', 'Nueva Vizcaya', 'Occidental Mindoro', 'Oriental Mindoro', 'Palawan', 'Pampanga', 'Pangasinan', 'Quezon', 'Quirino', 'Rizal', 'Romblon', 'Samar(Western Samar)', 'Sarangani', 'Second', 'Siquijor', 'Sorsogon', 'South Cotabato', 'Southern Leyte', 'Sultan Kudarat', 'Sulu', 'Surigao del Norte', 'Surigao del Sur', 'Tarlac', 'Tawi-Tawi', 'Third', 'Zambales', 'Zamboanga Sibugay', 'Zamboanga del Norte', 'Zamboanga del Sur']

In [8]:
# make table for province name mapping possibiliies:

# make first column the unique set of all province names from the unclean data
province_mapping_df = pd.DataFrame(
    unique_unclean_provincenames_list, columns=["unclean_provincenames"]
)

# make second column the cast-to-upper version of the first collumn
province_mapping_df["upper_unclean_provincenames"] = province_mapping_df[
    "unclean_provincenames"
].str.upper()

# inspecting df we have so far
province_mapping_df.head()

  unclean_provincenames upper_unclean_provincenames
0                  Abra                        ABRA
1      Agusan del Norte            AGUSAN DEL NORTE
2        Agusan del Sur              AGUSAN DEL SUR
3                 Aklan                       AKLAN
4                 Albay                       ALBAY

In [9]:
# create a function to loop through each unclean upper province name...
# if it finds that the unclean province name contains one of the clean names...
# set the value of our new column to be the clean name value...
# if it can't identify it, set the new value to "not yet matched"
def set_clean_province_name(row):
    # for each evaluation of each row passed, start off assuming no match
    province_match_found = False
    # loop over all unique clean province names
    for clean_province_name in unique_clean_provincenames_list:
        # if we find a match in the clean province names...
        # meaning if we find that one of the clean province names...
        # occurs in the string of the unclean province name...
        # return the clean province name that was found
        if clean_province_name in row["upper_unclean_provincenames"]:
            province_match_found = True
            return clean_province_name

    # if we struck out and didn't find a match, return a placeholder
    if not province_match_found:
        return "no_match_found"


# updating the df to include a new column for clean province name post matching
province_mapping_df = province_mapping_df.assign(
    matched_provincenames=province_mapping_df.apply(set_clean_province_name, axis=1)
)

# inspecting the result
province_mapping_df

   unclean_provincenames upper_unclean_provincenames matched_provincenames
0                   Abra                        ABRA        no_match_found
1       Agusan del Norte            AGUSAN DEL NORTE      AGUSAN DEL NORTE
2         Agusan del Sur              AGUSAN DEL SUR        AGUSAN DEL SUR
3                  Aklan                       AKLAN                 AKLAN
4                  Albay                       ALBAY                 ALBAY
..                   ...                         ...                   ...
82                 Third                       THIRD        no_match_found
83              Zambales                    ZAMBALES        no_match_found
84     Zamboanga Sibugay           ZAMBOANGA SIBUGAY     ZAMBOANGA SIBUGAY
85   Zamboanga del Norte         ZAMBOANGA DEL NORTE   ZAMBOANGA DEL NORTE
86     Zamboanga del Sur           ZAMBOANGA DEL SUR     ZAMBOANGA DEL SUR

[87 rows x 3 columns]

In [10]:
# just inspecting the province names we couldn't match
province_names_failedtomatch_df = province_mapping_df.loc[
    province_mapping_df["matched_provincenames"] == "no_match_found", :
]

province_names_failedtomatch_df.head()

   unclean_provincenames upper_unclean_provincenames matched_provincenames
0                   Abra                        ABRA        no_match_found
6                 Apayao                      APAYAO        no_match_found
7                 Aurora                      AURORA        no_match_found
9                 Bataan                      BATAAN        no_match_found
10               Batanes                     BATANES        no_match_found

In [11]:
# getting the percent of province names we could match:

# first get number of total rows in df (which is # of province names)
count_unique_province_names = len(province_mapping_df.index)

# then get number of province names for which we found a matchin our clean SSOT
count_unmatched_province_names = (
    province_mapping_df["matched_provincenames"].str.count("no_match_found").sum()
)

# divide the number of matched province names by the total number of province names...
# to get the percent of province names we successfully matched
province_names_match_rate = (
    count_unique_province_names - count_unmatched_province_names
) / count_unique_province_names
print(
    f"Out of {count_unique_province_names} unique province names in our data, we failed to match {count_unmatched_province_names}, resulting in a match rate of {'{:.2%}'.format(province_names_match_rate)}"
)

Out of 87 unique province names in our data, we failed to match 38, resulting in a match rate of 56.32%

In [12]:
# investigate which failed matches were NOT due to the `non_icm_loc.csv` filter
province_names_failedtomatch_df[
    "was_removed_by_screen"
] = province_names_failedtomatch_df["unclean_provincenames"].isin(
    non_icm_base_df["province"]
)

province_names_failedtomatch_df.loc[
    province_names_failedtomatch_df["was_removed_by_screen"] == False, :
]

/Users/pauljeffries/.local/lib/python3.7/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

,unclean_provincenames,upper_unclean_provincenames,matched_provincenames,was_removed_by_screen
25,City of Isabela (Capital),CITY OF ISABELA (CAPITAL),no_match_found,False
27,Cotabato,COTABATO,no_match_found,False
29,Davao Occidental,DAVAO OCCIDENTAL,no_match_found,False
34,First,FIRST,no_match_found,False
35,Fourth,FOURTH,no_match_found,False
71,Second,SECOND,no_match_found,False
82,Third,THIRD,no_match_found,False

### Questions / Roadblocks:

1. The are some provinces that are showing up in the data from the `original_locations.csv` -- i.e. from ICM's data -- that are also in the `non_icm_loc.csv` file -- i.e. supposedly not in ICM's area of operation. Take for example the Abra region. This appears to be the main reason for many of the mismatches (i.e. most of the 38 we failed to match are in the `non_icm_loc.csv`, as you can tell from the fact that of the 38 failed matches, only 7 (the 7 rows above), were failed matches NOT kicked out due to the `non_icm_loc.csv` file-based screen.
   > Yes, I'm not sure if I told you but the file we had in the db included areas that we do not serve. Since I only removed areas from Luzon (excluding Palawan) then I'm okay leaving those out in the future.
2. Of the province names not kicked out by the `non_icm_loc.csv` file-based screen that I could not match in the SSOT file, all 7 DO appear in the PDF you sent over of province names, so how would we think of proceeding here? This (to me) means that these provinces SHOULD be in the SSOT file, but just adding them without having corresponding cities and baranguys will be of little use, right?
   > Notes in the 7 that weren't removed for being non-icm locations
     1. City of Isabela (Capital): Can be found under Basilan in NEW; we can hardcode the match. This differs from PSA SSOT (City of Isabela is officially under Region IX - PSA but NEW it is under AARM/Basilan). 
        - Based on this and 2., It appears the OLD/ORG file is more up-to-date than the NEW GIS names according to the PSA SSOT list. 
     2. Cotabato: PSA states there are officially 3 Cotabatos: North Cotabato, South Cotabato, and the City of Cotabato. In NEW we only have North Cotabato & South Cotabato. And in the OLD/ORG we have Cotabato, North Cotabato, and South Cotabato. 
        - In OLD/ORG Cotabato has municipalites called: City of Cotabato and the rest are all North Cotabatoian cities (confirmed via google). In NEW the City of Cotabato is under Maguindanao province. 
        - For future discrepencies I suggest reviewing the Municipality/Barangay levels to verify what to match the name(s) to. Let's document the change and what it should be according to the official PSA SSOT (e.g., City of Cotabato is under AARM/Maguindanao in NEW but in PSA it's SOCCSKSARGEN/City of Cotabato). 
        - In this case we will hardcode the changes based on the corresonding Cities (Cotabato (City of Cotabato) >> Maguindanao (City of Cotabato) for all others change Cotabato >> North Cotabato)
     3. Davao Occidental: In this case it looks like in 2013 they created Davao Occidental from Davao del Sur which can be found in the NEW dataset. In this case we can again just manually match Davao Occidental >> Davao del Sur. 
     4. First, Second, Third, & Fourth: These appear to be districts of Manila re: PSA pdf and can be removed
3. My assumption for now given your newest comment on the README is that we can skip Regions and just focus on the 3 geographic granularities included in the "new_locations" file -- province, city, barangay.
    > Yes, I ended up removing the non ICM locations at the PROVINCE level. Once we have the final file we can manually attached the region names based on the PSA PDF. NOTE: Some Cities / Barangays have the same or similar names; you may need to be careful with how you standardize / match them and some filtering may be required. 
    
    
###### NOTE: I may have said this earlier but please be really careful as you proceed with the Municipality / Barangay matching as there are numerous with the same or similar names across each of the Provinces; it won't be a simple as a name match you'll need to consider the province-municipality / province-municipality-barangay pairs as the key-ids.